html {
    box-sizing: border-box; 
  }
  
*, *::before, *::after {
    box-sizing: border-box;
  }

.container {
    max-width: 1280px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 2em;
}
nav {
    text-align: right;
  }

nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    align-items: center;
  }

  nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .logo {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    text-align: left;
    border: none;
  }
  
  nav {
    text-align: left;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .banner {
width: 100%;
}
  
.wrapper {
    width: 1280px;
    margin:  0 auto;
}

section#about-me {
    display: flex;
    align-items: center;
    font-family: roboto;
}

section#what-i-can-do {
    text-align: center;
}

div {
    border: 2px solid #FAFAFA;
    margin: 1rem;
  }

section#boxes {
    display: flex;
    width: 70%;
}


.box-1 {
      color: black;
      text-decoration: none;
      padding: 0.5em 0.75em;
      width: 70%;
      text-align: start;
      margin: 0 auto;
      background-color: #FAFAFA;
      display: grid;
  }

.box-2 {
    color: black;
    text-decoration: none;
    padding: 0.5em 0.75em;
    width: 70%;
    text-align: start;
    margin: 0 auto;
    background-color: #FAFAFA;
    display: grid;
}

.box-3 {
    color: black;
    text-decoration: none;
    padding: 0.5em 0.75em;
    width: 60%;
    text-align: start;
    margin: 0 auto;
    background-color: #FAFAFA;
    display: grid;
}

section#my-work {
    align-items: center;
}

section#portfolio {
    justify-content: center;
    align-items: center;
}

.columns {
    display: flex;
  }
  
  .columns div {
    width: 50%;
  }
  
  .columns div {
    color: #FAFAFA;
    width: 50%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: none;
  }
  
 p {
    flex-grow: 1;
  }

  .columns {
    background-color: black;
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

 div.contact {
    text-align: center;
 }

 h2 {
    text-align: center;
 }

div.portfolio {
    max-width: 100%;
    align-items: center;
}

#footer {
    color: #FAFAFA;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: black;
 }

a {
  color: #FAFAFA;
  text-decoration: none;
  display: flex;
  padding: 0.5em 0.75em;
  width: 45%;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: black;
}

div.they-tell {
    color: #FAFAFA;
    background-color: black;
    height: 50px;
    margin-bottom: 0;
}

div.social {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}